.hintrc
unibolibs
.DS_Store

# Ignore Gradle project-specific cache directory
project0/.gradle

# Ignore Gradle build output directory
project0/build

# Ignore Gradle project-specific cache directory
servicemath24Usage/.gradle

# Ignore Gradle build output directory
servicemath24Usage/build
